
#art, #arts button, #tracks button {
    color: blue
}

#alb, #albs button {
    color: green
}

#length, #played, #bitrate {
    color: brown
}

#track, #state {
    color: red
}

button {
    font-size: 12px
}

span {
    font-size: 20px
}